/*======== Framework ========*/

/* component */
.bettwen-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrap-botton{
	border-radius:6px;
	padding:10px;
	color:white;
	display:block;
	text-transform:capitalize;
	font-weight:bold;
	background-color: #fcc031;
	max-width: fit-content;
	/* margin: 15px 15px 15px auto; */
	margin: 0px 10px 10px auto;
	cursor: pointer;
	transition:.3s;
}
.wrap-botton:hover{
	background-color: #feb200;
}

.leftChape{
	border-radius: 6px;
	font-size: 12px;
	padding:5px;
	color:black;
	background-color: #eee;
}

.toggle-check{
	appearance: none;
	display: none;
}
.toggle-switch{
	width: 67px;
	height: 28px;
	background-color: #ccc;
	border-radius: 16px;
	position: relative;
	transition: .2s;
	cursor: pointer;
}
.toggle-switch::before{
	font:var(--fa-font-solid);
	content: "\f00d";
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	height: 24px;
	width: 24px;
	border-radius: 50%;
	background-color: #fff;
	color: #ccc;
	transition: .3s;
	top:2px;
	left:2px;
}
.toggle-check:checked + .toggle-switch{
	background-color: #fcc031;
}
.toggle-check:checked + .toggle-switch::before{
	content:"\f00c";
	color: #feb200;
	left:41px;
}

.checkboxconfig  {
	display: flex;
	align-items: center;
	gap:5px;
	font-size:17px;
	text-transform: capitalize;
}
.checkboxconfig .maincheck {
	appearance: none;
	display: none;
}
.checkboxconfig .confcheck {
	width: 18px;
	height: 18px;
	border: 2px solid #ccc;
	display: inline-block;
	border-radius: 2px;
	position: relative;
	overflow: hidden;
}
.checkboxconfig:hover .confcheck, 
.checkboxconfig input:checked + .confcheck {
	border-color: #fcc031;

}
.checkboxconfig .confcheck::before{
	font: var(--fa-font-solid);
	content: "\f00c";
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	position: absolute;
	font-size:12px;
	background-color: #fcc031;
	transform: scale(0) rotate(360deg);
	transition: .3s;
	width: 100%;
	height: 100%;
}
.checkboxconfig input:checked + .confcheck::before{
	transform: scale(1) ;
}

.radio > label{
	position: relative;
	display: flex;
	align-items: center;
	margin-left: 20px;
	text-transform: capitalize;
}
.radio .check::before,
.radio .check::after{
	content: "";
	border-radius: 50%;
	position: absolute;
	top:50%;
	transition: .3s;

}
.radio .check::before{
	width: 14px;
	height: 14px;
	border:2px solid #ccc;
	left: -23px;
	transform: translateY(-50%);
}
.radio .check::after{
	width: 12px;
	height: 12px;
	background-color: #fcc031;
	left: -20px;
	transform: translateY(-50%) scale(0);
}
.radio > label input[type="radio"]{
	appearance: none;
	display: block;
}
.radio label input[type="radio"]:checked + .check::after{
	transform: translateY(-50%) scale(1);
}
.radio label:hover .check::before{
	border-color: #fcc031;

}
.radio label input[type="radio"]:checked + .check::before{
	border-color: #fcc031;
}
/*// component */

/* Box */
.d-flex {
  display: flex;
}
.space-bettwen {
  justify-content: space-between;
}
.just-center {
  justify-content: center;
}
.space-around {
  justify-content: space-around;
}
.columns{
	flex-direction:column;
}
.flex-w {
  flex-wrap: wrap;
}
.flex {
  flex:1;
}
.align-end{
	align-items: flex-end;
}
.align-center{
	align-items: center;
}
.gap-20 {
  gap: 20px;
}
.gap-15 {
  gap: 15px;
}
.gap-10 {
  gap: 10px;
}
.gap-5 {
  gap: 5px;
}
.d-grid {
  display: grid;
}
.d-block {
  display: block;
}
.d-inlineblock{
	display: inline-block;
}
@media (max-width: 767px) {
  .d-block-mob {
    display: block;
  }
  .d-none-mob {
    display: none;
  }
	.hidden-mob{
		display: none;
	}
}
.w-full {
  width: 100%;
}
.max-content{
	width: max-content;
}
.h-100{
  height: 150px;
}
.flowhidden {
  overflow: hidden;
}
.cpointer{
	cursor:pointer;
}
/*// Box */

/* paddding & margin */
.p-5 {
  padding: 5px;
}
.pt-5 {
  padding-top: 5px;
}
.pl-5 {
  padding-left: 5px;
}
.pb-5 {
  padding-bottom: 5px;
}
.p-10 {
  padding: 10px;
}
.pt-10 {
  padding-top: 10px;
}
.pl-10 {
  padding-left: 10px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pr-10 {
  padding-right: 10px;
}
.pb-10 {
  padding-bottom: 10px;
}
.p-15 {
  padding: 15px;
}
.pt-15 {
  padding-top: 15px;
}
.pl-15 {
  padding-left: 15px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pr-15 {
  padding-right: 15px;
}
.p-20 {
  padding: 20px;
}
.pt-20 {
  padding-top: 20px;
}
.pl-20 {
  padding-left: 20px;
}
.pb-20 {
  padding-bottom: 20px;
}
.m-15{
	margin:15px;
}
.ml-15{
	margin-left:15px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mr-15{
	margin-right:15px;
}
.m-20 {
  margin: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.m-10 {
  margin: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.m-5 {
  margin: 5px;
}
.mt-5 {
  margin-top: 5px;
}
/*// paddding & margin */

/* background & color  */
.bg-main {
  background-color: #fcc031;
}
.bg-white {
  background-color: white;
}
.bg-black {
  background-color: black;
}
.bg-red {
  background-color: red;
}
.bg-gray {
  background-color: rgb(209, 209, 209);
}
.bg-eee {
  background-color: #eee;
}
.bg-cyan {
  background-color: lightcyan;
}
.bg-green {
  background-color: green;
}

.c-main {
  color: #fcc031;
}
.c-white {
  color: white;
}
.c-black {
  color: black;
}
.c-blue{
  color: blue;
}
.c-green{
  color: green;
}
.c-red {
  color: red;
}
.c-gray {
  color: gray;
}
/*// background & color  */

/* position */
.p-relative {
  position: relative;
}
/*// position */

/* text & font */
.text-c {
  text-align: center;
}
.text-l {
  text-align: left;
}
.text-r {
  text-align: right;
}
.text-cap {
  text-transform: capitalize;
}
@media (max-width: 767px) {
  .text-c-mob {
    text-align: center;
  }
}
.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
.fs-20 {
  font-size: 20px;
}
.fs-25 {
  font-size: 25px;
}
.fredw-bold {
  font-weight: bold;
}
.fw-normal {
  font-weight: normal;
}
/*// text & font */

/* border */
.red-6 {
  border-radius: 6px;
}
.red-10 {
  border-radius: 10px;
}
.red-full {
  border-radius: 50%;
}
.bord-1 {
  border: 1px solid;
}
.bordtop-1 {
  border-top: 1px solid;
}
.bordbottom-1 {
  border-bottom: 1px solid;
}
.bord-none {
  border: none;
}
.bord-eee{
	border-color: #eee;
}
.bord-ccc{
	border-color: #ccc;
}
/*// border */

