/* spacial header */
::placeholder{
	text-transform: capitalize;
}
textarea{
	resize: none;
}
.page .header-section {
  margin: 20px 20px 40px;
}
.page .header-section::before,
.page .header-section::after {
	content: "";
	position: absolute;
	height: 3px;
	bottom: 0;
	left: 10px;
}
.page .header-section::before {
  background: #fff;
  width: 120px;
}
.page .header-section::after {
  background: black;
  width: 40px;
}
/*// spacial header */
/* GeneralRnaves */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: transparent;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: #fcc031;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #db9a00;
}
/*// GeneralRnaves */
.page {
  min-height: 100vh;
  background-color: #f1f5f9;
}

/* navbar */
.navebar {
  width: 250px;
  box-shadow: 0px 0px 10px #ddd;
}
.navebar > h3 {
  margin-bottom: 50px;
}
@media (min-width: 772px) {
  .navebar > h3::before,
  .navebar > h3::after {
    content: "";
    position: absolute;
    left: 50%;
    background-color: black;
    transform: translateX(-50%);
  }
  .navebar > h3::before {
    width: 80px;
    height: 2px;
    bottom: -20px;
  }
  .navebar > h3::after {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 5px solid white;
    bottom: -29px;
  }
  .navebar ul li a {
    transition: 0.3s;
    margin-bottom: 5px;
  }
}
.navebar ul li a:where(:hover, .active) {
  background-color: #f1f5f9;
}
.navebar ul li a span {
  font-size: 14px;
  margin-left: 10px;
}
@media (max-width: 772px) {
  .navebar {
    width: 60px;
    padding: 10px;
  }
  .navebar > h3 {
    display: none;
  }
  .navebar ul li span {
    display: none;
  }
  .navebar ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    margin: 5px 0;
  }
}
/*// navbar */

/*==== content==== */
/* header */
header .search label {
  position: relative;
}
header .search label i {
  position: absolute;
  right: -25px;
  color: #afafaf;
  padding-left: 5px;
}
header .search label input {
  padding-left: 35px;
  border-color: #eee;
  transition: 0.3s width;
  caret-color: #afafaf;
  width: 180px;
}
header .search label::before {
  font: var(--fa-font-solid);
  content: "\f002";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  color: #afafaf;
}
header .search label input:where(:focus, :hover) {
  width: 200px;
  border-color: #ddd;
}
header .search label input::placeholder {
  text-transform: capitalize;
  color: #afafaf;
}
header .search label input:focus::placeholder {
  opacity: 0;
}
header .icons {
  width: 50px;
}
header .icons i:first-child {
  position: relative;
}
header .icons > i::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: orangered;
  top: 0;
  right: 0;
  z-index: 1;
}
header .icons a i {
  font-size: 25px;
}
/*// header */

/* wrapper */
.page .wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
	margin-bottom: 20px;
  gap: 20px;
}
@media (max-width: 767px) {
  .page .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.page .wrapper .welcom .welcomContent {
  position: relative;
}
.page .wrapper .welcom .welcomContent i {
  position: absolute;
  top: -60px;
  font-size: 80px;
  left: 40px;
  background-color: white;
  border-radius: 50%;
  border: 8px solid white;
}
.page .wrapper .welcom .textContent {
  height: 170px;
}
.page .wrapper .welcom .textContent .intro{
	flex:1

}
.page .wrapper .welcom .body {
  margin-top: 45px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
@media (max-width:479px) {
	.page .wrapper .welcom .body >div:first-child{
		flex-basis:100%;
	}
}

.page .wrapper .draft form textarea,
.wrapper .draft form input{
	transition: .3s;
}
.page .wrapper .draft form textarea:is(:hover,:focus),
.page .wrapper .draft form input:first-of-type:is(:hover,:focus){
	background-color: #eeeeee78;
}

.page .wrapper .targetYears .cartcontent .carts .icon{
	padding: 30px;
	background: #ff292942;
	margin-right: 15px;
	color:red;
	font-size: 35px;
}
.page .wrapper .targetYears .cartcontent .carts .cartText > div{
	height: 4px;
	margin-bottom: 10px;
}
.page .wrapper .targetYears .cartcontent .carts .cartText  div>span span{
	position: absolute;
	display: block;
	top: -31px;
	left: calc(100% - 16px);
	padding: 3px 4px ;
	background: red;
}
.page .wrapper .targetYears .cartcontent .carts .cartText  div>span{
	background-color: red;
	height: 4px;
}
.page .wrapper .targetYears .cartcontent .carts .cartText div>span::before,
.page .wrapper .targetYears .cartcontent .carts .cartText div>span::after{
	position: absolute;
}
.page .wrapper .targetYears .cartcontent .carts:first-of-type .cartText div>span:first-of-type::after{
	content: "";
	border-style: solid;
	border-width: 5px;
	border-color: red transparent transparent transparent;
	top: -9px;
	right: -5px;
}
.page .wrapper .targetYears .cartcontent .carts .iconproject {
	background-color: #0000ff6b;
	color: blue;
}
.page .wrapper .targetYears .cartcontent .carts .cartText .ponrsentageproject {
	background-color: blue;
}
.page .wrapper .targetYears .cartcontent .carts:nth-of-type(2) .cartText div>span::after{
	content: "";
	border-style: solid;
	border-width: 5px;
	border-color: blue transparent transparent transparent;
	top: -9px;
	right: -5px;
}
.page .wrapper .targetYears .cartcontent .carts .iconTeam{
	background-color: #00800070;
	color: green;
}
.page .wrapper .targetYears .cartcontent .carts .cartText .ponrsentageTeam {
	background-color:  green;
}
.page .wrapper .targetYears .cartcontent .carts:last-of-type .cartText div>span::after{
	content: "";
	border-style: solid;
	border-width: 5px;
	border-color: green transparent transparent transparent;
	top: -9px;
	right: -5px;
}

.tickets>.col{
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding-top: 20px;
}
.tickets .col .ticketcart{
	flex-basis: 45%;
	padding:25px;
}
@media (max-width:500px) {
	.tickets .col .ticketcart{
		flex-basis: 100%;
	}
}

.latestNews .row {
	gap: 15px;
}
.latestNews .row img{
	width: 100px;
}
.latestNews .row .textNews{
	flex: 1;
}
.latestNews .row .textNews h3{
	font-size: 16px;
}
.latestNews .row:not(:last-child){
	border-bottom: 1px solid #eee;
}
@media (max-width:500px) {
	.latestNews .row{
		flex-direction: column	;
	}
}

.tasks .tasksrow .textTasks h3{
	font-size: 16px;
}
.tasks .tasksrow:not(:last-child){
	border-bottom: 1px solid #eee;
	margin-bottom: 15px;
}
.tasks .DONETasks .textTasks{
	text-decoration: line-through;
}
.tasks .DONETasks .textTasks,
.tasks .DONETasks i{
	opacity:.6;
}
.tasks .tasksrow i:hover{
		color:red;
}

.update .itemsupdate{
	padding-top: 10px;
	display: grid;
	gap:15px;
}
.update .itemsupdate .item:not(:last-child){
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
}
.update .itemsupdate .infoupdate img{
	width:50px;
	padding-right:10px
}

.progress .boxprogrsss{
	padding-left: 30px;
	border-left: 3px solid #fcc031;
}
.progress .boxprogrsss > div::after{
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	background: #fcc031;
	top: 50%;
	left: -43px;
	transform: translateY(-50%);
	border-radius: 50%;
	outline: 2px solid #fcc031;
	border: 2px solid white;
	z-index: 1;
}
.progress .boxprogrsss > div:last-of-type::after{
	background: white;
}
.progress .boxprogrsss > div:nth-of-type(4)::after{
	animation: flashing infinite 2.5s ;
}
.progress > img{
	opacity: .2;
	width: 180px;
	position: absolute;
	bottom: 0;
	right: 0;
}
@keyframes flashing {
	0%,100%{
		background-color: white;
	}
	50%{
		background-color: #fcc031;
	}
}

.reminder{
}
.reminder .reminderbox{
	padding-left: 15px;
}
.reminder .reminderbox .remindercontent{
	border-left: 2px solid ;
	padding-left: 20px;
}
.reminder .reminderbox .remindercontent::before{
	content:"";
	width:15px;
	height:15px;
	position: absolute;
	left: -30px;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;

}
.reminder .reminderbox .remindercontent:first-child{
	border-color: #fcc031;
}
.reminder .reminderbox .remindercontent:first-child::before{
	background-color: #fcc031;
}
.reminder .reminderbox .remindercontent:nth-child(2){
	border-color: blue;
}
.reminder .reminderbox .remindercontent:nth-child(2)::before{
	background-color: blue;
}
.reminder .reminderbox .remindercontent:nth-child(3){
	border-color: green;
}
.reminder .reminderbox .remindercontent:nth-child(3)::before{
	background-color: green;
}
.reminder .reminderbox .remindercontent:last-child{
	border-color: red;
}
.reminder .reminderbox .remindercontent:last-child::before{
	background-color: red;
}

.poste .posteuser i{
	padding-right: 35px;
}
.poste  .posteinfo{
	margin-top: 15px;
	margin-bottom: 15px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.socialMedia .socialmediaicone>.def{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.socialMedia .socialmediaicone>.def div{
	width: 100%;
	height: 50px;
	margin:5px;
	display: flex;
	align-items: center;
	gap: 20px;
}
.socialMedia .socialmediaicone>.facebook div{
	background-color:#d0e4fd ;
}
.socialMedia .socialmediaicone>.twitter div{
	background-color:#d1ecfd ;
}
.socialMedia .socialmediaicone>.youtube div{
	background-color:#ffcccc ;
}
.socialMedia .socialmediaicone>.linkedin div{
	background-color:#cce4f0 ;
}
.socialMedia .socialmediaicone .def div i{
	font-size: 25px;
	color: white;
	text-align: left;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 50px;
	transition: .3s;
}
.socialMedia .socialmediaicone>.facebook .leftChape,
.socialMedia .socialmediaicone>.facebook div i{
	background-color:#1877f2 ;
}
.socialMedia .socialmediaicone>.twitter .leftChape,
.socialMedia .socialmediaicone>.twitter div i{
	background-color:#1da1f2 ;
}
.socialMedia .socialmediaicone> .youtube .leftChape,
.socialMedia .socialmediaicone> .youtube div i{
	background-color:#ff0000 ;
}
.socialMedia .socialmediaicone> .linkedin .leftChape,
.socialMedia .socialmediaicone> .linkedin div i{
	background-color:#0077b5 ;
}
.socialMedia .socialmediaicone  .def div p{
	font-size: 14px;
	text-transform: capitalize;
	color: white;
}

.socialMedia .socialmediaicone  .facebook div p{
	color:#1877f2 ;
}
.socialMedia .socialmediaicone  .twitter div p{
	color:#1da1f2 ;
}
.socialMedia .socialmediaicone  .youtube div p{
	color:#ff0000 ;
}
.socialMedia .socialmediaicone  .linkedin div p{
	color:#0077b5
}
.socialMedia .socialmediaicone>.def .leftChape{
	position: absolute;
	width: max-content;
	height: 20px;
	right: 10px;
	color: white;
}

.socialMedia .socialmediaicone .def div i:hover{
	transform: rotate(5deg);
}

/*// wrapper */
/* Project table */
.projects {
}
.projects .responciveTable{
	overflow-x: auto;
}
.projects .responciveTable table {
	min-width: 1000px;
	border-spacing: 0;
}
.projects  table td{
	padding: 15px;
}
.projects table tr{
}
.projects table thead {
	background-color: #eee;
	font-weight: bold;
}
.projects table img{
	width:32px;
	padding: 2px;
	background-color: white;
	border-radius: 50%;
	height: 32px;
	display: inline-block;
}
.projects table img:not(:first-child){
	margin-left: -20px;
}
.projects table tbody td{
	border-bottom: 1px solid #eee;
	border-left: 1px solid #eee;
	transition: .3s;
}
.projects table tbody td:last-child{
	border-right: 1px solid #eee;
}
.projects table tbody tr:hover td{
	background-color: #faf7f7;
}
/*// Project table */

/* setting-page */
.setting-page{
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
	margin-bottom: 20px;
	gap:20px;
}
@media (max-width: 767px) {
  .setting-page {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.setting-page .text textarea{
	min-height: 160px;
	border: 1px solid #ccc;
	font-family: monospace;
	font-size: 12px;
}

.generailnfo .labels .emaildiv{
	align-items: flex-end;
	padding-bottom:10px;
}
.generailnfo .labels .emaildiv > label {
	flex:1;
}
.generailnfo .labels .emaildiv > label input{
	background-color:#eee;
	border:1px solid #ccc;
	cursor:not-allowed
}
.generailnfo .labels .emaildiv button{
	background-color: white;
	border: 0;
	padding:10px;
	text-transform: capitalize;
	font-weight: bold;
	cursor: pointer;
}

.social{
}
.social .socialInput > label{
	background-color: #f6f6f6;
	overflow: hidden;
}
.social .socialInput > label i {
	width: 40px;
	height: 40px;
	color:#ccc;
	transition: .3s;
	font-size: 20px;
}
.social .socialInput > label input {
	border:0;
	border-left: 1px solid #ccc;
	background-color: #f6f6f6;
	height: 40px;
	padding-left: 10px;
}
.social .socialInput > label:is(:hover,:focus-within) i {
	color:#444;
}

.backup .backupbottom {
	border-top:1px solid #eee;
	margin:10px;
	padding-top:20px;
	padding-bottom: 10px;
	height: 117px;
}
.backup .backupbottom .sigma {
	flex:1;
	text-align: center;
}
@media (max-width:767px){
	.backup .backupbottom {
		flex-direction: column;
		height: auto;
	}
	.backup .backupbottom .sigma {
		width: 100%;
	}
}
.backup .backupbottom input[type="radio"]{
	appearance: none;
	display: none;
}
.backup .backupbottom .sigma label{
	width: 100%;
	border: 2px solid #eee;
	border-radius: 10px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 5px;
	cursor: pointer;
	transition: .3s;
}
.sigma input[type="radio"]:checked + label  {
	border-color:#fcc031;
	color:#fcc031;
}
.backup .backupbottom label:hover{
	border-color:#fcc031;
	color:#fcc031;
}
.backup .backupbottom .sigma > label i{
	font-size: 15px;
}
.backup .backupbottom .sigma > label span {
	font-size: 17px;
}
/*// setting-page */

/* profile-page */
.profile-page{
  grid-template-columns:  1fr;
  margin-left: 20px;
  margin-right: 20px;
	margin-bottom: 20px;
	gap:20px;
}
.skilsAct {
  grid-template-columns: .5fr 1fr;
	gap:20px;
}
@media (max-width: 767px) {
  .skilsAct {
		grid-template-columns:1fr;
		margin-bottom: 10px;
    gap: 10px;
  }
	.profile-page{
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 10px;
		gap:10px;
	}
}
@media (max-width:650px){
	.overview{
		flex-direction: column;
	}
}
.overview .overviewuser{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding:20px;
	position: relative;
}
.overview .overviewuser::before{
	content:"";
	position: absolute;
	width: 1px;
	height: 80%;
	display: block;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: #eee;
}
@media (max-width:650px){
	.overview .overviewuser::before{
	transform: translateY(-100%);
	right: auto;
		top: 100%;
		width: 80%;
		height: 1px;
	}
	/* .overview .overviewuser{ */
	/* 	border-bottom: 1px solid #eee; */
	/* } */

}
.overview .overviewuser > i{
	font-size: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.overview .overviewuser > p{
	font-size: 14px;
	color:gray
}
.overview .overviewuser > h2{
	font-size: 18px;
}
.overview .overviewuser .progressbar{
	width: 130px;
	height: 5px;
	background-color: #eee;
	border-radius: 3px;
}
.overview .overviewuser .progressbar > span{
	display: block;
	height: 100%;
	background-color: #fcc031;
	border-radius: 3px;
}
.overview .overviewuser .stars{
	font-size: 14px;
	color: gold;
}

.generalInfo{
	flex:1
}
.generalInfo .personInfo{
	padding: 20px;
	transition: .3s;
}
.generalInfo .personInfo:hover{
	background-color: #f9f9f9;
}
.generalInfo .personInfo:not(:last-child){
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
}
.generalInfo .personInfo:not(:first-child){
	padding-top: 20px;
}
.generalInfo .personInfo > p{
	font-weight: bold;
}
.generalInfo .personInfo .personInfo-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	gap: 10px;
}
@media(max-width:991px) {
 .generalInfo .personInfo .personInfo-content{
	 flex-direction: column;
	 align-items: flex-start;
 }
}
@media (max-width:650px){
 .generalInfo .personInfo .personInfo-content{
	 flex-direction: column;
	 align-items: center;
 }
 .generalInfo .personInfo{
	 text-align: center;
 }
}
.generalInfo .personInfo .personInfo-content > p{
	color: gray;
	font-size: 14px;
}
.generalInfo .personInfo .personInfo-content > p > span{
	color: black;
}
.generalInfo .personInfo .personInfo-content > label .toggle-switch{
	width: 80px;
	height: 20px;
}
.generalInfo .personInfo .personInfo-content > label .toggle-switch::before{
	height: 16px;
	width: 16px;
	font-size: 12px;
}
.generalInfo .personInfo .personInfo-content > label input:checked + .toggle-switch::before{
	left: 62px;
	font-size: 12px;
}

.skils{
}
.skils .cartskils > div:not(:last-child){
	border-bottom: 1px solid #eee;

}
/*// profile-page */
/*//==== content==== */
